# Module 4: SQL Queries

### [name]
### [student ID]

## Instruction
You need to finish all questions of both In-class exercise. Name your ipynb file as StudentName_lab2.ipynb and submit it on Canvas.

PLEASE ENSURE THAT THE SCRIPT CAN CORRECTLY EXECUTE!!!

In [ ]:
# Let's start with load the extension sql
%load_ext sql

# and then connect to a database **lab4_SQL.db** using:
%sql sqlite:///lab4_SQL.db

In [ ]:
%%sql
-- Create the "Sailors" table
drop table if exists Sailors;
drop table if exists Reserves;
drop table if exists Boats;
CREATE TABLE Sailors (
    sid int PRIMARY KEY,
    sname VARCHAR,
    rating int,
    age real
);

-- Create the "Reserves" table
CREATE TABLE Reserves (
    sid int,
    bid int,
    day DATE,
    PRIMARY KEY (sid, bid),
    FOREIGN KEY (sid) REFERENCES Sailors(sid),
    FOREIGN KEY (bid) REFERENCES Boats(bid)
);

-- Create the "Boats" table
CREATE TABLE Boats (
    bid int PRIMARY KEY,
    name VARCHAR,
    color VARCHAR
);

-- Insert rows into the "Sailors" table
delete from Sailors;
INSERT INTO Sailors (sid, sname, rating, age) VALUES
    (22, 'Dustin', 7, 45),
    (29, 'Brutus', 1, 33),
    (31, 'Lubber', 8, 55.5),
    (32, 'Andy', 8, 25.5),
    (58, 'Rusty', 10, 35),
    (64, 'Horatio', 7, 35),
    (71, 'Zorba', 10, 16),
    (74, 'Horatio', 9, 35),
    (85, 'Art', 3, 25.5),
    (95, 'Bob', 3, 63.5);

-- Insert rows into the "Boats" table
delete from Boats;
INSERT INTO Boats (bid, name, color) VALUES
    (101, 'Interlake', 'blue'),
    (102, 'Interlake', 'red'),
    (103, 'Clipper', 'green'),
    (104, 'Marine', 'red');

-- Insert rows into the "Reserves" table
delete from Reserves;
INSERT INTO Reserves (sid, bid, day) VALUES
    (22, 101, '10/10/98'),
    (22, 102, '10/11/98'),
    (22, 103, '10/8/98'),
    (22, 104, '10/7/98'),
    (31, 102, '11/10/98'),
    (31, 103, '10/6/98'),
    (31, 104, '11/12/98'),
    (64, 101, '9/5/98'),
    (64, 102, '9/8/98'),
    (74, 103, '9/8/98');

   sqlite:///class6.db
 * sqlite:///lab2_SQL.db
Done.
Done.
Done.
Done.
Done.
Done.
0 rows affected.
10 rows affected.
0 rows affected.
4 rows affected.
0 rows affected.
10 rows affected.

[]

### Exercise 1
Find sailor names whoâ€™ve reserved all boats

In [ ]:
%%sql

### Exercise 2
Find sailor names who've reserved all red boats

In [ ]:
%%sql

### Exercise 3

Write SQL declarations for creating the schemas of the following three tables. Include necessary key constraints.

1. Employee(<u>eid</u>:integer, ename:string, age:integer, salary:real)

2. Works(<u>eid</u>:integer, <u>did</u>:integer, pct_time:integer)

3. Department(<u>did</u>:integer, dname:string, budge:real, managerid:integer)

The keys are underlined in each relation. Relation **Employee** stores employee information such as unique identifier **eid**, employee name **ename**, **age** and **salary**. Relation **Department** stores the department unique identifier **did**, department name **dname**, the department **budget** and **managerid** which is the **eid** of the employee who is managing the department. The **managerid** value must always be found in the **eid** field of a record of the Employee relation. The Works relation tracks which
employee works in which department, and what **percentage** of the time s/he allocates to that department. Note that, an employee can work in several departments.

In [ ]:
%%sql

drop table if exists Employee;
drop table if exists Department;
drop table if exists Works;

-- your code goes below

### Insert values to tables
Execute the cell below to insert values to the three tables.
1. Employee

| eid     | ename         | age | salary |  
|---------|---------------|-----|--------|
| 101     | Andrew Fuller | 40  | 50000  |
| 102     | Justin Peacock| 25  | 20000  |
| 103     | Nancy Buchanan| 35  | 30000  |
| 104     | Robert King   | 30  | 20000  |

2. Works:

| eid     | did  | pct_time |
|---------|------|----------|
| 101     | 1001 | 100      |
| 102     | 1001 | 20       |
| 102     | 1002 | 50       |
| 102     | 1003 | 10       |
| 103     | 1003 | 90       |
| 103     | 1001 | 10       |
| 104     | 1001 | 20       |
| 104     | 1002 | 70       |

3. Department:

| did     | dname    | budget  | managerid |
|---------|----------|---------|-----------|
| 1001    | IT       | 500000  | 101       |
| 1002    | Computing| 750000  | 104       |
| 1003    | Finance  | 350000  | 103       |

In [ ]:
%%sql
DELETE FROM Employee;
DELETE FROM Works;
DELETE FROM Department;
insert into Employee values ( 101,'Andrew Fuller', 40, 50000);
insert into Employee values ( 102, 'Justin Peacock', 25, 20000);
insert into Employee values ( 103, 'Nancy Buchanan', 35, 30000);
insert into Employee values ( 104, 'Robert King', 30, 20000);

insert into Department values (1001, 'IT', 500000, 101);
insert into Department values (1002, 'Computing', 750000, 104);
insert into Department values (1003, 'Finance', 350000, 103);

insert into Works values (101, 1001, 100);
insert into Works values (102, 1001, 20);
insert into Works values (102, 1002, 50);
insert into Works values (102, 1003, 10);
insert into Works values (103, 1003, 90);
insert into Works values (103, 1001, 10);
insert into Works values (104, 1001, 20);
insert into Works values (104, 1002, 70);

### Exercise 4
Find the name of departments who employ only persons of age 30 or younger. List each name only once.

In [ ]:
%%sql

### Exercise 5
Find the names of employees who work in all departments

In [ ]:
%%sql